*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
    justify-items: center;
}
.nav{
    width: 100%;
    border-bottom: 1px solid black;
    background-color: white;
    justify-content: center;
    height: 60px;
    margin-bottom: 10px;
    padding-left: 600px;
    font-size: x-large;
    padding-top: 15px;
    font-weight: bold;
}
.post{
    background-color: white;
    width: 400px;
    margin-bottom: 30px;
}
.header{
    display: flex;
    padding: 10px;
}
.post-count{
padding-right: 10px;
margin-left: auto;
color: darkgray;
}
.image img{
    width: 100%;
    height: auto;
}
.caption{
    padding: 10px;
}